.sorting-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
    font-weight: bold;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style the options within the select dropdown */
select option {
    background-color: white;
    color: black;
}

/* Style the select dropdown when it's focused */
select:focus {
    border-color: #007bff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}