.header {
    background-color: black;
    color: orange;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

.header h2 {
    margin: 10px;
    font-weight: normal;
}

.header-lists {
    display: flex;
    justify-content: center;
    gap: 500px;
    background: linear-gradient(90deg, rgba(250, 255, 0, 1) 0%, rgba(255, 0, 0, 1) 100%);
}

.header-lists-list {
    margin: 2px;
    display: flex;
    list-style-type: none;
    gap: 60px;
}

.header-lists-list li a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.header-lists-list li a:hover {
    color: rgb(0, 0, 0);
}